.create-form input[type="submit"] {
  background-color: var(--blue);
  color: var(--white);
  width: 130px;
  box-shadow: 4px 4px var(--black);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  height: 40px;
  transition: transform 0.2s;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}
