.edit-section {
  margin-bottom: 4rem;
}

.form textarea,
.delete-btn {
  border-radius: 6px;
  border: none;
}

.form textarea {
  height: 200px;
  width: 280px;
}

.form input[type="submit"],
.delete-btn {
  width: 100px;
  height: 40px;
  font-weight: 900;
  text-transform: uppercase;
}

.form-btns {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.save-btn {
  background-color: #67d94b;
  color: var(--dark-blue);
  transition: transform 0.2s;
}

.delete-btn {
  background-color: var(--dark-blue);
  color: var(--white);
  border: 2px solid var(--white);
  transition: transform 0.2s;
}

.delete-btn:hover {
  transform: scale(1.2);
}
