#display-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  align-items: center;
}

.article-link {
  background-color: var(--grey);
  color: var(--black);
  width: 270px;
}

.article-link:hover {
  box-shadow: 5px 5px var(--blue);
  animation-duration: 0.35s;
}

.template-img {
  width: 270px;
  height: 250px;
  object-fit: cover;
}

.article-container {
  padding: 0.5rem;
}

.template-title {
  font-size: var(--xs);
  margin-top: 0;
  margin-bottom: 0;
}

.template-body {
  font-size: 1rem;
}

.slider-links {
  display: flex;
  justify-content: center;
}

.slider-link {
  background-color: var(--grey);
  color: var(--black);
  width: 270px;
  border-radius: 10px;
}

.slider-img {
  width: 270px;
  border-radius: 8px;
}

.slide-content {
  padding-right: 1rem;
  padding-left: 1rem;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.read-more-container {
  color: var(--blue);
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--bolder);
  font-size: 0.9rem;
}

.read-more {
  margin-bottom: 0;
}

.read-arrow {
  font-size: var(--xs);
  margin-bottom: 1rem;
}

.progress-dots {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.progress {
  height: 13px;
  width: 13px;
  border: 2px solid var(--white);
  border-radius: 50%;
  display: inline-block;
}
