#display-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  align-items: center;
}

.article-link {
  background-color: var(--grey);
  color: var(--black);
  width: 270px;
}

.article-link:hover {
  box-shadow: 5px 5px var(--blue);
}

.template-img {
  width: 270px;
  height: 250px;
  object-fit: cover;
}

.article-container {
  padding: 0.5rem;
}

.template-title {
  font-size: var(--xs);
  margin-top: 0;
  margin-bottom: 0;
}

.template-title,
.slider-title {
  text-transform: uppercase;
  font-weight: var(--bolder);
}

.template-body {
  font-size: 1rem;
}

.slider-container {
  position: relative;
  max-width: 400px;
  margin: auto;
}

.slider-links {
  display: flex;
  justify-content: center;
}

.slider-link {
  background-color: var(--grey);
  color: var(--black);
  width: 270px;
  border-radius: 10px;
}

.slider-link:hover {
  box-shadow: 5px 5px var(--blue);
}

.slider-img {
  width: 270px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.slide-content {
  padding-right: 1rem;
  padding-left: 1rem;
  font-weight: var(--bolder);
}

.slider-title {
  font-size: var(--s);
}

.slider-body,
.slider-title {
  margin: 0.3rem 0;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.read-more-container {
  color: var(--blue);
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--bolder);
  font-size: 0.9rem;
}

.read-more {
  margin-bottom: 0;
}

.read-arrow {
  font-size: var(--xs);
  margin-bottom: 1rem;
}

.progress-dots {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 1.5rem 0;
}

.progress {
  height: 13px;
  width: 13px;
  border: 2px solid var(--white);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s;
}

.progress:hover {
  transform: scale(1.2);
}

.active {
  background-color: var(--white);
}

.prev,
.next {
  position: absolute;
  top: 40%;
}

.prev,
.next,
.page-btn {
  cursor: pointer;
  color: var(--white);
  border: none;
  background: none;
  font-size: var(--xs);
  transition: transform 0.2s;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover,
.page-btn:hover {
  transform: scale(1.3);
}

#pagination {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

.page-btn {
  font-weight: var(--bold);
}

.search-container {
  display: flex;
  justify-content: center;
}
