#display-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  align-items: center;
}

.article-link {
  background-color: var(--grey);
  color: var(--black);
  width: 270px;
}

.article-link:hover {
  box-shadow: 5px 5px var(--blue);
  animation-duration: 0.35s;
}

.template-img {
  width: 270px;
  height: 250px;
  object-fit: cover;
}

.article-container {
  padding: 0.5rem;
}

.template-title {
  font-size: var(--xs);
  margin-top: 0;
  margin-bottom: 0;
}

.template-body {
  font-size: 1rem;
}

.slider-links {
  display: flex;
}

.slider-link {
  background-color: var(--grey);
  color: var(--black);
  width: 270px;
}

.slider-img {
  width: 270px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
