header {
  background-color: var(--black);
  min-height: 80px;
}

header img {
  width: 150px;
}

.header-logo {
  text-align: center;
}

header ul {
  background-color: var(--dark-blue);
  display: flex;
  gap: 1.8rem;
  padding: 1.5rem;
  justify-content: center;
  margin-top: 0;
}

.menu-btn {
  cursor: pointer;
  color: var(--white);
  border: none;
  background-color: var(--dark-blue);
  position: relative;
}

.dropdown {
  position: absolute;
  width: 280px;
  top: 80px;
  right: 0;
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
  transform: translateY(0.5rem);
  visibility: hidden;
  opacity: 0;
  z-index: 100;
}

.dropdown ul {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  background: var(--black);
}

.show {
  transform: translateY(0rem);
  visibility: visible;
  opacity: 1;
}

.nav-link {
  transition: transform 0.2s;
}

.nav-link:hover {
  transform: scale(1.2);
}

.plus-icon {
  font-size: var(--xs);
}

.greeting {
  position: absolute;
  top: 37px;
  right: 3px;
  border: 1px solid var(--white);
  border-radius: 10px;
  padding: 0.3rem;
  font-size: 0.8rem;
  font-family: var(--source);
}

.logout-btn:hover {
  cursor: pointer;
}
