@media screen and (min-width: 30.07em) {
  /* Home page */
}

@media screen and (min-width: 48.1em) {
  /* Header */
  header ul {
    gap: 3rem;
  }

  /* Home page */
  #display-container {
    display: grid;
    grid-template-columns: 480px;
    gap: 3rem;
    justify-content: center;
    margin: auto;
  }

  .article-link {
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 480px;
  }

  .template-img {
    height: auto;
    width: 140px;
  }

  .template-title {
    font-size: var(--xs);
  }

  /* Edit page */
  .edit-form input {
    width: 350px;
  }

  .edit-form textarea {
    width: 600px;
  }

  input[type="submit"] {
    width: 100px;
  }

  .form-btns {
    gap: 4rem;
  }

  /* Footer */
  footer ul {
    gap: 4rem;
  }

  .links {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .divider-alt {
    display: block;
  }

  .docs-ul {
    flex-direction: row;
    gap: 4rem;
  }
}

@media screen and (min-width: 64em) {
  /* Home page */
  #display-container {
    grid-template-columns: 450px 450px;
    max-width: 1200px;
  }

  .article-link {
    height: 180px;
    width: 450px;
  }

  .template-img {
    width: 150px;
  }

  .template-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  /* Register page */
  .bg-register {
    max-width: 1100px;
    margin: auto;
    margin-bottom: 4rem;
    border-radius: 10px;
  }

  /* Login page */
  .bg-login {
    max-width: 1100px;
    margin: auto;
    margin-bottom: 4rem;
    border-radius: 10px;
  }
}
