@import url(-variables.css);
@import url(-header.css);
@import url(-footer.css);
@import url(-edit.css);
@import url(-register.css);

@import url(--media.css);

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: var(--dark-blue);
  min-height: 100vh;
  margin: 0;
  display: block;
  font-family: var(--roboto);
  color: var(--white);
}

header,
footer {
  background-color: var(--black);
}

header ul,
footer ul {
  list-style: none;
  text-transform: uppercase;
  font-weight: var(--med);
  font-size: var(--xs);
}

header a,
footer a {
  text-decoration: none;
  color: inherit;
}

h1 {
  text-transform: uppercase;
  font-family: var(--source);
  font-size: var(--m);
  font-weight: 900;
  text-align: center;
}
