@import url(-variables.css);
@import url(-header.css);
@import url(-footer.css);
@import url(-feed.css);
@import url(-blog-post.css);
@import url(-edit.css);
@import url(-create.css);
@import url(-register.css);
@import url(-login.css);

@import url(-media.css);

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: var(--dark-blue);
  min-height: 100vh;
  margin: 0;
  display: block;
  font-family: var(--roboto);
  color: var(--white);
}

header,
footer {
  background-color: var(--black);
}

header ul,
footer ul {
  list-style: none;
  text-transform: uppercase;
  font-weight: var(--med);
  font-size: var(--xs);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  text-transform: uppercase;
  font-family: var(--source);
  font-size: var(--m);
  font-weight: 900;
  text-align: center;
}

label {
  text-transform: uppercase;
  font-weight: 900;
}

input {
  margin-bottom: 1.5rem;
  height: 30px;
  width: 250px;
  border-radius: 6px;
  border: none;
  padding-left: 0.6rem;
}

input[type="submit"]:hover {
  cursor: pointer;
  transform: scale(1.2);
}

input,
textarea {
  font-size: 0.9rem;
}

textarea {
  font-family: sans-serif;
}

#greeting {
  position: absolute;
  top: 10px;
  right: 5%;
  border: 1px solid var(--white);
  border-radius: 10px;
  padding: 0.3rem;
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: var(--xxs);
}

.hidden-link {
  display: none;
}
