@import url(-variables.css);
@import url(-header.css);
@import url(-footer.css);
@import url(-feed.css);
@import url(-blog-post.css);
@import url(-edit.css);
@import url(-create.css);
@import url(-register.css);
@import url(-login.css);
@import url(-about.css);

@import url(-media.css);

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: var(--dark-blue);
  min-height: 100vh;
  margin: 0;
  display: block;
  font-family: var(--roboto);
  color: var(--white);
}

header,
footer {
  background-color: var(--black);
}

header ul,
footer ul {
  list-style: none;
  text-transform: uppercase;
  font-weight: var(--med);
  font-size: var(--xs);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  text-transform: uppercase;
  font-family: var(--source);
  font-size: var(--m);
  font-weight: 900;
  text-align: center;
}

label {
  text-transform: uppercase;
  font-weight: 900;
}

input {
  margin-bottom: 1.5rem;
  height: 30px;
  width: 250px;
  border-radius: 6px;
  border: none;
  padding-left: 0.6rem;
}

input[type="submit"]:hover {
  cursor: pointer;
  transform: scale(1.2);
}

input,
textarea {
  font-size: 0.9rem;
}

textarea {
  font-family: sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: var(--xxs);
}

.login-form input[type="submit"],
.register-form input[type="submit"],
.create-form input[type="submit"],
.logout-btn,
.signup-btn {
  cursor: pointer;
  background-color: var(--blue);
  color: var(--white);
  width: 130px;
  box-shadow: 4px 4px var(--black);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: var(--bolder);
  height: 40px;
  transition: transform 0.2s;
  border: none;
  border-radius: 6px;
}

.hidden-link {
  display: none;
}

.loader {
  width: 1.2rem;
  height: 1.2rem;
  border: 0.3rem solid;
  border-bottom-color: rgba(255, 255, 255, 0.589);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  display: flex;
  margin: auto;
  margin-bottom: 2rem;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
